.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 10px;
}

.content .hero {
    width: 600px;
    margin-top: 100px;
}

.content .h2 {
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    margin-top: 15px;
}

.jumbotron {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 10px;
}

.jumbotron img {
    width: 83%;
    position: relative;
    height: auto;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog article {
    margin-bottom: 30px;
}