img {
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.navbar-toggler {
border: none;
border-color: transparent;
outline: none;
transition: border-color 0.3s ease-in-out;
}

.navbar-toggler:hover {
border: none;
outline: none;
border-color: transparent;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
cursor: pointer;
}
.navbar-toggler {
border: none;
border-color: transparent;
outline: none;
transition: border-color 0.3s ease-in-out;
}

.navbar-toggler {
padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
font-size: var(--bs-navbar-toggler-font-size);
line-height: 1;
color: var(--bs-navbar-color);
background-color: transparent;
border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
border-radius: var(--bs-navbar-toggler-border-radius);
transition: var(--bs-navbar-toggler-transition);
}

button, select {
text-transform: none;
}

button, input, optgroup, select, textarea {
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
}

button {
border-radius: 0;
}

*, ::after, ::before {
box-sizing: border-box;
}

button:focus:not(:focus-visible) {
outline: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
cursor: pointer;
}

.navbar-toggler:focus {
text-decoration: none;
outline: 0;
box-shadow: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
cursor: pointer;
}

.navbar-toggler {
border: none;
border-color: transparent;
outline: none;
box-shadow: none;
transition: border-color 0.3s ease-in-out;
}

.bungkus {
    background-color: black;
    width: 200px;
    border-radius: 12px;
}